html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular, sans-serif;
}

.body--inactive {
  height: 100px;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
