.contacts {
  border-bottom: 1px solid $border-color;
}

.contacts__container {
  padding-top: 70px;
  padding-bottom: 165px;

  @include screen-xl {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include screen-lg {
    padding-bottom: 100px;
  }

  @include screen-sm {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include screen-xs {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contacts__title {
  margin-bottom: 120px;
  font-size: 36px;
  font-weight: 300;
  color: $dark-color;
  text-transform: capitalize;

  @include screen-sm {
    text-align: center;
  }

  @include screen-xs {
    margin-bottom: 50px;
    font-size: 30px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include screen-sm {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__list-item {
  width: 30%;

  @include screen-sm {
    width: 200px;
    margin-bottom: 20px;
  }
}

.contacts__card {
  display: flex;
  flex-direction: column;
}

.contacts__card-img {
  margin-bottom: 30px;
}

.contacts__card-img--map-point {
  width: 19px;
  height: 26px;
}

.contacts__card-img--phone {
  width: 26px;
  height: 26px;
}

.contacts__card-img--mail {
  width: 29px;
  height: 19px;
}

.contacts__card-title {
  margin-bottom: 45px;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;

  @include screen-xs {
    margin-bottom: 25px;
  }
}

.contacts__card-address {
  @extend %first-letter-uppercase;

  max-width: 205px;
  font-size: 14px;
  font-style: normal;
  line-height: 170%;
  color: $text-color;

  @include screen-xs {
    font-size: 14px;
  }
}

.contacts__card-link {
  display: block;
  font-family: inherit;
  font-size: 14px;
  color: $text-color;
  transition: color 0.2s ease;

  @include screen-xs {
    font-size: 14px;
  }
}

.contacts__card-link {
  margin-bottom: 10px;
}

.contacts__card-link:hover {
  color: $accent-color;
  transition: color 0.2s ease;
}
