section.contacts 
  .container.contacts__container 
    .contacts__upper
      h2.contacts__title(tabindex="0") Contacts
    .contacts__lower
      ul.contacts__list
        li.contacts__list-item 
          .contacts__card.contacts__visit 
            img.contacts__card-img.contacts__card-img--map-point(src="./images/map-point.png" alt="map-point")
            h3.contacts__card-title Visit Us
            address.contacts__card-address. 
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit.
        li.contacts__list-item 
          .contacts__card.contacts__phone
            img.contacts__card-img.contacts__card-img--phone(src="./images/phone.png" alt="phone")
            h3.contacts__card-title Call Us
            a.contacts__card-link.contacts__card-link--tel( href="tel:+79876543210"). 
              +7 (987) 654-32-10
            a.contacts__card-link.contacts__card-link--tel( href="tel:+71234567890"). 
              +7 (123) 456-78-90  
        li.contacts__list-item
          .contacts__card.contacts__email 
            img.contacts__card-img.contacts__card-img--mail(src="./images/mail.png" alt="mail")
            h3.contacts__card-title Email Us 
            a.contacts__card-link.contacts__card-link--email(href="mailto:example@example.com") example@example.com
            a.contacts__card-link.contacts__card-link--email(href="mailto:support@example.com") support@example.com