section.connect 
  .container.connect__container
    .connect__upper
      h2.connect__title(tabindex="0") What Are You Waiting For? 
      p.connect__text. 
        Take control of&nbsp;your paid subscriptions today!
    .connect__lower
      form.connect__form(action="#")
        input.connect__input(type="text" placeholder="Name" required)
        input.connect__input(type="email" placeholder="E-mail" required)
        input.connect__input(type="tel" placeholder="Phone" required)
        input.btn.connect__input.connect__input--submit(type="submit" value="Get started") 
        