section.clients 
  .container.clients__container
    .clients__upper
      h2.clients__title Our Happy Clients
    .clients__lower
      ul.clients__list 
        li.clients__list-item 
          +cardTestimonial('John Armstrong').
            Duis autem vel eum iriure dolor in hendrerit in vulputate 
            velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio 
            dignissim qui blandit odio dignissim qui blandit molestie
            consequat.
        li.clients__list-item 
          +cardTestimonial('Elizabeth Martin').
            Duis autem vel eum iriure dolor in hendrerit in vulputate 
            velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio.
        li.clients__list-item 
          +cardTestimonial('Elizabeth Martin').
            Duis autem vel eum iriure dolor in hendrerit in vulputate 
            velit esse molestie consequat, vel illum dolore eu feugiat 
            nulla facilisis at vero eros et accumsan et iusto odio.
