include ./vars

include ../../UI.blocks/card-img/card-img
include ../../UI.blocks/card-testimonial/card-testimonial
include ../../UI.blocks/button/button

doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Lionic: Legal Solutions")
    meta(name="keywords" content="legal, services, lawyers, contract, document, online, legacy, health, funeral, financial")
    link(rel="stylesheet" href="./bundle.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap")
    title=title
  body 
    block content
