.card-testimonial {
  padding: 55px 55px 30px 40px;

  @include screen-xs {
    padding: 35px;
  }
}

.card-testimonial__text {
  @extend %first-letter-uppercase;

  min-height: 180px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 150%;
  color: $text-color;
  border-bottom: 1px solid $border-color;

  @include screen-xs {
    font-size: 14px;
  }
}

.card-testimonial__wrapper {
  display: flex;
  padding-top: 25px;
}

.card-testimonial__img {
  width: 70px;
  height: 70px;
  margin-right: 18px;
  border: 2px solid $accent-color;
  border-radius: 50%;
}

.card-testimonial__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-testimonial__name {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  color: $dark-color;
}

.card-testimonial__role {
  font-size: 14px;
  color: $text-color;
}
