mixin cardTestimonial(name)
  .card-testimonial
    p.card-testimonial__text 
      block
    .card-testimonial__wrapper 
      .card-testimonial__img
      .card-testimonial__descr
        p.card-testimonial__name= name
        .card-testimonial__role Customer