.hero {
  min-height: 550px;
  background: url('../images/office-organized.jpg') no-repeat;
  background-size: cover;

  @include screen-xl {
    background-position: 50% 0;
  }

  @include screen-lg {
    min-height: 500px;
  }
}

.hero__container {
  padding-top: 125px;

  @include screen-xl {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include screen-sm {
    padding-top: 80px;
  }

  @include screen-sm {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include screen-xs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__title {
  @extend %first-letter-uppercase;

  max-width: 510px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 300;
  line-height: 120%;
  color: $dark-color;

  @include screen-xs {
    text-align: center;
  }
}

.hero__text {
  @extend %first-letter-uppercase;

  max-width: 470px;
  margin-bottom: 30px;
  line-height: 140%;
  color: $text-color;

  @include screen-xs {
    font-size: 14px;
    text-align: center;
  }
}

.btn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.hero__btn {
  width: 250px;
}

.hero__hint {
  position: relative;
  margin-top: 20px;
  margin-left: 22px;
  font-size: 9px;
  color: $text-color;
  text-transform: uppercase;
}

.hero__hint::before {
  position: absolute;
  top: -5px;
  left: -22px;
  width: 15px;
  height: 18px;
  content: url('../images/shield.png');
}
