section.hero
  .container.hero__container
    h1.hero__title.
      This is simply a smarter way  to make your legal online
    p.hero__text. 
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
      sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
    .btn__wrapper  
      +button('hero__btn', 'Free 30 day trial')
      p.hero__hint SSL secured connection


