.card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  text-align: center;
  border: 1px solid $border-color;
  transition: all 0.2s ease;

  &:hover {
    background-color: $accent-color;
    transition: all 0.2s ease;
    transform: translateY(-10px);
  }
}

.card-img__title {
  margin-bottom: 20px;
  font-size: 20px;
  color: $dark-color;
  text-transform: capitalize;
}

.card-img__text {
  @extend %first-letter-uppercase;

  font-size: 14px;
  line-height: 150%;
  color: $text-color;

  @include screen-xs {
    font-size: 14px;
  }
}

.card-img:hover svg {
  fill: #fff;
  transition: all 0.2s ease;
}

.card-img:hover .card-img__title {
  color: #fff;
  transition: all 0.2s ease;
}

.card-img:hover .card-img__text {
  color: #fff;
  transition: all 0.2s ease;
}

.card-img__pic-wrapper {
  margin-bottom: 30px;
}
