.header {
  border-bottom: 2px solid $border-color;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 110px;

  @include screen-xl {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include screen-md {
    height: 80px;
  }

  @include screen-sm {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header__logo {
  margin-right: 90px;

  @include screen-xl {
    margin-right: 0;
  }
}

.header__logo-img {
  width: 116px;
  height: 45px;
}

.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__btn--menu-mobile {
  position: relative;
  display: none;
  width: 40px;
  height: 30px;
  cursor: pointer;

  @include screen-xl {
    display: block;
  }

  .header__btn-line {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $accent-color;
    transform: translateY(-50%);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
    background-color: $accent-color;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
    background-color: $accent-color;
  }
}

.header__menu {
  display: flex;
  height: 100%;

  @include screen-xl {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 40px;
    background-color: #fff;
    border-right: 1px solid $accent-color;
    transition: transform 0.2s ease;
    transform: translateX(-150%);
  }
}

.header__menu--active {
  transition: transform 0.2s ease;
  transform: translateX(0);
}

.header__menu-item {
  display: block;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: all 0.2s ease;

  @include screen-xl {
    border-bottom: none;
  }
}

.header__menu-item:hover {
  border-bottom: 5px solid $accent-color;
  transition: all 0.2s ease;

  @include screen-xl {
    border-bottom: none;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 60px;

  @include screen-xl {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item--dropdown {
  position: relative;
}

.header__menu-item--dropdown {
  width: 85px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: url('../images/arrow-down-black.svg');
    transition: all 0.2s ease;
    transform: translateY(-50%);
  }

  &:hover::after {
    content: url('../images/arrow-down-accent.svg');
    transition: all 0.2s ease;
  }
}

.header__menu-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  color: $dark-color;

  @include screen-xl {
    font-size: 16px;
  }

  &:hover {
    color: $accent-color;
  }
}

.header__btn--trial {
  position: relative;
  bottom: 5px;

  @include screen-sm {
    display: none;
  }
}
