.header {
  border-bottom: 2px solid #e4e4e4;
  z-index: 10;
}

.header__container {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include screen-xl {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.header__logo {
  margin-right: 90px;

  @include screen-xl {
    margin-right: 0;
  }
}

.header__logo-img {
  width: 116px;
  height: 45px;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__menu-mobile {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;

  @include screen-xl {
    display: block;
  }

  &-line {
    display: block;
    height: 5px;
    width: 100%;
    background-color: $accent-color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    content: '';
    height: 5px;
    width: 100%;
    background-color: $accent-color;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    height: 5px;
    width: 100%;
    background-color: $accent-color;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.header__menu {
  display: flex;
  height: 100%;

  @include screen-xl {
    display: none;
  }
}

.header__menu-item {
  display: block;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: all 0.2s ease;
}

.header__menu-item:hover {
  border-bottom: 5px solid $accent-color;
  color: $accent-color;
  transition: all 0.2s ease;
}

.header__menu-item--dropdown {
  position: relative;
}

.header__menu-item--dropdown {
  width: 85px;

  &::after {
    content: url('./images/arrow-down-black.svg');
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.2s ease;
  }

  &:hover::after {
    content: url('./images/arrow-down-accent.svg');
    transition: all 0.2s ease;
  }
}

.header__menu-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
}

.header__menu-item:not(:last-child) {
  margin-right: 60px;
}

.header__btn {
  position: relative;
  bottom: 5px;
}
