header.header
  .container.header__container
    .header__logo
      a.header__logo-link(href="#") 
        img.header__logo-img(src="./images/logo.png " alt="logo-lionic")
    nav.header__nav 
      .header__btn--menu-mobile
        span.header__btn-line
      ul.header__menu 
        li.header__menu-item 
          a.header__menu-link(href="#" tabindex="0") Home
        li.header__menu-item.header__menu-item--dropdown
          a.header__menu-link(href="#" tabindex="0") Products
        li.header__menu-item
          a.header__menu-link(href="#" tabindex="0") Our Services
        li.header__menu-item
          a.header__menu-link(href="#" tabindex="0") Pricing
        li.header__menu-item
          a.header__menu-link(href="#" tabindex="0") About Us
        li.header__menu-item
          a.header__menu-link(href="#" tabindex="0") Contact Us
    +button('header__btn--trial', 'Free Trial')

