header.header
  .container.header__container
    .header__logo
      img.header__logo-img(src="./images/logo.png " alt="logo")
    nav.header__nav 
      ul.header__menu 
        li.header__menu-item 
          a.header__menu-link Home
        li.header__menu-item.header__menu-item--dropdown
          a.header__menu-link Products 555
        li.header__menu-item
          a.header__menu-link Our Services
        li.header__menu-item
          a.header__menu-link Pricing
        li.header__menu-item
          a.header__menu-link About Us
        li.header__menu-item
          a.header__menu-link Contact Us
    +button('header__btn', 'Free Trial')

