- const headerTitlesArr = ['Home', 'Products', 'Our Services', 'Pricing', 'About Us', 'Contact Us']

header.header
  .container.header__container
    .header__logo
      a.header__logo-link(href="#") 
        img.header__logo-img(src="./images/logo.png " alt="logo-lionic")
    nav.header__nav 
      .header__btn--menu-mobile
        span.header__btn-line
      ul.header__menu 
        each val, index in headerTitlesArr
          li.header__menu-item 
            a.header__menu-link(
              class=(index === 1 ? "header__menu-item--dropdown" : null)  
              href="#" 
              tabindex="0")= val
    +button('header__btn--trial', 'Free Trial')
