footer.footer 
  .container.footer__container 
    .footer__logo
      a.footer__logo-link(href="#") 
        img.footer__logo-img(src="./images/logo.png " alt="logo")
    p.footer_copyright Copyright &copy; 2021. All Right Reserved
    nav.footer__nav
      ul.footer__menu
        li.footer_menu-item
          a.footer__menu-link(href="#") About Us
        li.footer_menu-item
          a.footer__menu-link(href="#") Contact Us
        li.footer_menu-item
          a.footer__menu-link(href="#") Privacy Policy
        li.footer_menu-item
          a.footer__menu-link(href="#") Terms Condition
    ul.footer__socials 
      li.footer__socials-item
        a.footer__socials-link(href="#" target="_blank" rel="noopener")!= picTwitter
      li.footer__socials-item
        a.footer__socials-link(href="#" target="_blank" rel="noopener")!= picLinkedin 
      li.footer__socials-item
        a.footer__socials-link(href="#" target="_blank" rel="noopener")!= picEmail 