extend ./ancillary/pug/base

block content 
  include ./common.blocks/header/header
  include ./common.blocks/hero/hero
  include ./common.blocks/services/services
  include ./common.blocks/clients/clients
  include ./common.blocks/contacts/contacts
  include ./common.blocks/connect/connect
  include ./common.blocks/footer/footer
