section.services 
  .container.services__container
    .services__upper
      h2.services__title What We Do
      p.services__text. 
        Lionic guides you on making decisions for all aspects 
        of your end-of-life plans.
    .services__lower